.appointments-form {
  text-align: center;
  background: white;
  padding: 1rem 0;
  border-radius: 0.25rem;

  // .page-title {
  //   margin: 0;
  // }

  .sub-title {
    font-weight: 500;
  }

  & > :not(:last-child) {
    padding: 1rem 0;
  }
}

.appointments-form__title {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.date-input {
  border: none;
}

.react-datepicker-popper {
  left: 50% !important;
  top: 50% !important;
  transform: translate(-75%, 0%) !important;
}

.react-datepicker__input-container > input {
  padding: 0.25rem;
  border-radius: 0.25rem;
  box-shadow: none;
  width: 10.25rem;
  margin-top: 0.25rem;
}