.user-buttons {
  margin: 1rem 0;
  display: flex;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  text-align: center;

  .button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.appointments__empty-notification {
  text-align: center;
  width: 100%;
}