.notification {
  // max-width: 40rem;
  min-width: 14rem;
  margin: 0 auto;
  border-radius: 0.25rem;
  padding: 0.5rem;
  text-align: center;
  margin-bottom: 1rem;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translate(-50%, -100%);
  animation: moveDown 6s ease-in-out forwards;
}

@keyframes moveDown {
  0% { 
    transform: translate(-50%, -100%);
  }
  10% { 
    transform: translate(-50%, 50%);
  }
  90% { 
    transform: translate(-50%, 50%);
  }
  100% { 
    transform: translate(-50%,-100%);
  }
}

.text-success {
  color: $success;
}

.text-info {
  color: $info;
}

.text-warning {
  color: $warning;
}

.text-error {
  color: $error;
}

.text-white {
  color: $white;
}

.text-black {
  color: $black;
}

.bg-success {
  background-color: $success;
}

.bg-info {
  background-color: $info;
}

.bg-warning {
  background-color: $warning;
}

.bg-error {
  background-color: $error;
}

.bg-white {
  background-color: $white;
}

.bg-black {
  background-color: $black;
}
