.info-button{
  background: $info;
  color: $white;
  padding: 0.5rem 1rem;
  border-radius: 0.4em;
  font-size: 1rem;
  border: none;
}

.success-button{
  background: $success;
  color: $white;
  padding: 0.5rem 1rem;
  border-radius: 0.4em;
  font-size: 1rem;
  display: block;
  border: none;
}
.warning-button{
  background: $warning;
  color: $white;
  padding: 0.5rem 1rem;
  border-radius: 0.4em;
  font-size: 1rem;
  border: none;
}
.error-button{
  background: $error;
  color: $white;
  padding: 0.5rem 1rem;
  border-radius: 0.4em;
  font-size: 1rem;
  border: none;
}

.form-wrapper {
  display: grid;
  place-items: center;
  // grid-template-rows: 1fr 2fr;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid $light-gray;
  border-radius: 0.75rem;
  padding: 1rem 0rem;
  width: 80%;
  max-width: 20rem;
  // align-self: flex-start;
  & > * {
    margin: 1rem 0;
  }

  fieldset{
    display: grid;
    place-items: center;
    width: 100%;
  }
}

.input-field{
  border: none;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  min-width: 80%;
}

.input-field:focus{
  outline: none;
  // border: none;
  border-bottom: 1px solid $info;
}
