.navbar {
  display: grid;
  grid-template-rows: 1fr 2.75fr;
  position: fixed;
  top: 0;
  left: -14rem;
  width: 14rem;
  height: 100%;
  padding-left: 1rem;
  z-index: 3;
  background: $white;
  border-right: 1px solid $light-gray;
  transition: all 0.75s ease-in-out;
}

.navbar.open {
  left: 0;
}

.dark-filter {
  position: absolute;
  top: 0;
  left: calc(14rem);
  width: calc(100vw);
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.hide {
  display: none;
}

.nav-logo {
  margin: 0 1rem;
  width: 70%;
}

.nav-links {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-item {
  padding: 0.75rem 1rem;
  width: 100%;
}

.nav-item:hover {
  background-color: $green;
  color: $white;
}
