*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

button:hover {
  cursor: pointer;
}

fieldset {
  border: none;
}

.page {
  margin: 0 1.25rem 4rem;
}

.page-margin {
  margin: 0 1.25rem 4rem;
}

.page-title {
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-weight: 300;
  margin: 2rem 0;
  font-size: 2rem;
}

@media only screen and (min-width: 1024px) {
  .page {
    margin: 0 2.75rem 4rem;
  }
  .page-margin {
    margin: 0 2.75rem 4rem;
  }
  .image-margin {
    margin: 0 2.75rem 4rem;
  }
}

.form-wrapper {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100vh;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 0.75rem;
  padding: 1rem 0;
  width: 80%;
  max-width: 20rem;
}

.form > * {
  margin: 1rem 0;
}

.form fieldset {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
}

.input-field {
  border: none;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  min-width: 80%;
}

.input-field:focus {
  outline: none;
  border-bottom: 1px solid #2196f3;
}

.carousel {
  position: relative;
}

.carousel-title {
  position: absolute;
  z-index: 2;
  left: 1.25rem;
  bottom: 6rem;
  color: #fff;
  font-weight: 400;
  font-size: 1.25rem;
}

.slider {
  position: relative;
  height: 25rem;
}

.slider ::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.slide {
  min-height: 25rem;
}

.dots {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.carousel__dot {
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 50%;
  border: 2px solid #e0e0e0;
  background: transparent;
}

.carousel__dot--selected {
  background: #e0e0e0;
}

@media only screen and (min-width: 768px) {
  .carousel-title {
    font-size: 4.25rem;
  }
  .slider {
    min-height: 37.5rem;
  }
  .slide {
    min-height: 37.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .carousel-title {
    left: 2.75rem;
  }
}

.listings {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
}

.info > * {
  margin: 0.5rem 0;
  font-size: 0.875rem;
}

.listing-image {
  width: 100%;
  height: 100%;
  aspect-ratio: 375/230;
}

.listing-important {
  font-weight: 600;
  font-size: 1rem;
  margin-top: 1rem;
}

.listing-room {
  color: #606060;
}

.listing-agent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px #e0e0e0 solid;
}

.listing-agent p {
  color: #606060;
  margin: 1rem;
}

.listing-agent img {
  width: 3rem;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}

@media only screen and (min-width: 768px) {
  .listings {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1024px) {
  .listings {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.burger {
  position: absolute;
  top: 1rem;
  right: -2.75rem;
  -webkit-transition: 0.75s all ease-in-out;
  transition: 0.75s all ease-in-out;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 0.125rem;
  padding: 0.125rem;
}

.burger.open {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.burger-wrapper {
  width: 2rem;
  height: 2rem;
  position: relative;
  z-index: 2;
  border: none;
  background: none;
}

.burger-menu,
.burger-menu::before,
.burger-menu::after {
  content: "";
  width: 1.75rem;
  height: 0.125rem;
  background: #606060;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 0 auto;
}

.burger-menu {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.burger-menu::before {
  position: absolute;
  left: 0;
  top: -0.625rem;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.burger-menu::after {
  position: absolute;
  left: 0;
  top: 0.625rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.burger-menu.open {
  left: -50%;
  background: transparent;
}

.burger-menu.open::before {
  left: 0;
  top: 50%;
  width: 100%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger-menu.open::after {
  left: 0;
  top: 50%;
  width: 100%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.notification {
  min-width: 14rem;
  margin: 0 auto;
  border-radius: 0.25rem;
  padding: 0.5rem;
  text-align: center;
  margin-bottom: 1rem;
  position: fixed;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  -webkit-animation: moveDown 6s ease-in-out forwards;
          animation: moveDown 6s ease-in-out forwards;
}

@-webkit-keyframes moveDown {
  0% {
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
  10% {
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
  90% {
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
  100% {
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
}

@keyframes moveDown {
  0% {
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
  10% {
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
  90% {
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
  100% {
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
}

.text-success {
  color: #4caf50;
}

.text-info {
  color: #2196f3;
}

.text-warning {
  color: #ff9800;
}

.text-error {
  color: #f44336;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.bg-success {
  background-color: #4caf50;
}

.bg-info {
  background-color: #2196f3;
}

.bg-warning {
  background-color: #ff9800;
}

.bg-error {
  background-color: #f44336;
}

.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #000;
}

.appointments-form {
  text-align: center;
  background: white;
  padding: 1rem 0;
  border-radius: 0.25rem;
}

.appointments-form .sub-title {
  font-weight: 500;
}

.appointments-form > :not(:last-child) {
  padding: 1rem 0;
}

.appointments-form__title {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.date-input {
  border: none;
}

.react-datepicker-popper {
  left: 50% !important;
  top: 50% !important;
  -webkit-transform: translate(-75%, 0%) !important;
          transform: translate(-75%, 0%) !important;
}

.react-datepicker__input-container > input {
  padding: 0.25rem;
  border-radius: 0.25rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 10.25rem;
  margin-top: 0.25rem;
}

.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2.75fr;
      grid-template-rows: 1fr 2.75fr;
  position: fixed;
  top: 0;
  left: -14rem;
  width: 14rem;
  height: 100%;
  padding-left: 1rem;
  z-index: 3;
  background: #fff;
  border-right: 1px solid #e0e0e0;
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

.navbar.open {
  left: 0;
}

.dark-filter {
  position: absolute;
  top: 0;
  left: calc(14rem);
  width: calc(100vw);
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.hide {
  display: none;
}

.nav-logo {
  margin: 0 1rem;
  width: 70%;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.nav-item {
  padding: 0.75rem 1rem;
  width: 100%;
}

.nav-item:hover {
  background-color: #98be11;
  color: #fff;
}

.modal-close-wrapper {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  right: 1rem;
  top: 1rem;
}

.modal-close-wrapper:hover {
  cursor: pointer;
}

.modal-close::after,
.modal-close::before {
  content: "";
  top: 1rem;
  right: 0rem;
  width: 1.75rem;
  height: 0.125rem;
  background: #606060;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 0 auto;
}

.modal-close::before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.backdrop {
  content: '';
  position: fixed;
  bottom: -100%;
  left: 0;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100%;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.backdrop.open {
  bottom: 0%;
}

.shimmer-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: loading 2.5s infinite;
          animation: loading 2.5s infinite;
}

.shimmer {
  width: 50%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, transparent), color-stop(white), color-stop(80%, transparent));
  background: linear-gradient(90deg, transparent 20%, white, transparent 80%);
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  50% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  50% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.listing-feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.25rem 0;
  padding: 0 1.25rem;
}

.listing-feature:nth-of-type(even) {
  border-left: 1px solid #e0e0e0;
}

.listing-feature__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25rem;
}

.listing-feature__top span {
  padding-left: 1rem;
}

.listing-feature__bottom {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  color: #606060;
}

.listing_feature__svg {
  width: 1.5rem;
  height: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .listing-feature {
    margin: 0;
    padding: 0 1.25rem;
  }
  .listing-feature:not(:first-of-type) {
    border-left: 1px solid #e0e0e0;
  }
}

.button {
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.2em;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.0625rem;
  font-family: 'Poppins', sans-serif;
  border: none;
  text-transform: uppercase;
}

.button.info {
  background: #2196f3;
}

.button.success {
  background: #4caf50;
}

.button.warning {
  background: #ff9800;
}

.button.error {
  background: #f44336;
}

.agent-contact-form {
  border: 1px solid #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.agent-contact-form__agent-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  padding: 1.5rem;
}

.agent-contact-form__agent-picture {
  width: 3.125rem;
  height: 3.125rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.agent-contact-form__agent-details__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 1rem;
}

.agent-contact-form__agent-details__main a {
  color: #2196f3;
}

.agent-contact-form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
}

.agent-contact-form__input {
  font-family: 'Poppins', sans-serif;
  border: 1px #e0e0e0 solid;
  padding: 0.75rem;
  font-size: 0.9rem;
}

.appointment-info {
  display: -ms-grid;
  display: grid;
}

.appointment-info > :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.appointment-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.appointment-pic {
  max-height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (min-width: 1024px) {
  .appointment-info {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .appointment-info > :first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .appointment-title {
    font-size: 2.75rem;
  }
  .appointment-agent {
    margin: 0;
  }
}

.user-buttons {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.user-buttons .button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.listing-page-type {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.125rem;
  padding: 1.5625rem 0;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  text-align: center;
}

.listing-page__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding: 0 1.25rem;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listing-page__main__title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 400;
}

.listing-page__features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.listing-page__main__buttons {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: auto;
  background-color: rebeccapurple;
}

.listing-page__extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
  padding: 2rem 0;
}

.listing-page__extra > div {
  padding: 0 1.25rem;
}

.listing-page__extra__title {
  padding: 1rem 0;
  font-weight: 500;
  font-size: 1.25rem;
  text-transform: capitalize;
}

.appointment-form-wrapper {
  max-width: 44rem;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  position: fixed;
  left: 0;
  right: 0;
  top: -50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.appointment-form-wrapper.open {
  top: 50%;
}

@media only screen and (min-width: 768px) {
  .listing-page__features {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1024px) {
  .listing-page__main {
    padding: 0 3.125rem;
  }
  .listing-page__main__title {
    font-size: 2rem;
  }
  .listing-page__extra {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .listing-page__extra > div {
    padding: 2rem 3.125rem;
  }
  .listing-page__extra__title {
    font-size: 1.5rem;
  }
}

.home-section {
  margin: 0 1.25rem;
}

.home-section-title {
  font-weight: 300;
  font-size: 1.75rem;
  margin: 3.125rem 0 1.25rem 0;
}

.home-newest {
  display: -ms-grid;
  display: grid;
  position: relative;
  gap: 1.25rem;
}

.home-newest-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  /* stylelint-disable */
  aspect-ratio: 5.6 / 2.7;
  /* stylelint-enable */
  padding: 1rem 1.25rem;
  position: relative;
}

.home-newest-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.home-newest-item:hover p {
  text-decoration: underline;
}

.home-mansion-price {
  position: relative;
  color: #fff;
  z-index: 1;
  margin-bottom: 0.5rem;
}

.home-mansion-name {
  position: relative;
  color: #e0e0e0;
  z-index: 1;
  font-size: 0.75rem;
}

.home-seen {
  margin: 5rem 0;
}

.home-seen h4 {
  font-weight: 400;
  text-align: center;
  padding: 3.125rem 0;
  font-size: 0.75rem;
  text-transform: uppercase;
  border-top: 1px solid #e0e0e0;
}

.home-seen-grid {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 1rem 0;
}

@media only screen and (min-width: 768px) {
  .home-newest {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .home-seen-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1024px) {
  .home-section {
    margin: 0 2.75rem;
  }
  .home-newest {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  /* stylelint-disable */
  .home-newest-item {
    aspect-ratio: 2.75 / 3.6;
  }
  /* stylelint-enable */
  .home-seen {
    margin: 5rem 0;
  }
}

.agent-picture-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem 0;
}

.agent-picture-wrapper::before {
  content: "";
  height: 0.125rem;
  width: 100%;
  background: #e0e0e0;
}

.agent-picture-wrapper::after {
  content: "";
  height: 0.125rem;
  width: 100%;
  background: #e0e0e0;
}

.agent-picture {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}

.agent-details {
  text-align: center;
}

.skeleton {
  background: #ECEFF1;
  border-radius: 0.25rem;
}

.skeleton-wrapper {
  position: relative;
  overflow: hidden;
}

.skeleton.list-item {
  margin: 1rem 0 0.5rem 0;
}

.skeleton.text {
  width: 100%;
  height: 1.125rem;
}

.skeleton.title {
  width: 50%;
  height: 1.25rem;
}

.skeleton.avatar {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
}

.skeleton.thumbnail {
  width: 6.25rem;
  height: 6.25rem;
}

.skeleton-wrapper .home-newest-item::before {
  background: none;
}

.skeleton.mansion-item-agent {
  margin-top: 2rem;
}
/*# sourceMappingURL=styles.css.map */