*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

button:hover {
  cursor: pointer;
}

fieldset {
  border: none;
}

.page {
  margin: 0 1.25rem 4rem;
}

.page-margin {
  margin: 0 1.25rem 4rem;
}

.page-title {
  display: grid;
  place-items: center;
  font-weight: 300;
  margin: 2rem 0;
  font-size: 2rem;
}

@media only screen and (min-width: 1024px) {
  .page {
    margin: 0 2.75rem 4rem;
  }

  .page-margin {
    margin: 0 2.75rem 4rem;
  }

  .image-margin {
    margin: 0 2.75rem 4rem;
  }
}

@import './styles/variables';
@import './styles/components';
@import './styles/carousel';
@import './styles/Listings';
@import './styles/hambuger-menu';
@import './Components/Notification/Notification';
@import './Components/AppointmentsForm/AppointmentsForm';
@import './Components/Navbar/Navbar';
@import './Components/ModalCloseButton/ModalCloseButton';
@import './Components/Backdrop/Backdrop';
@import './Components/Shimmer/Shimmer';
@import './Components/ConfirmationForm/ConfirmationForm';
@import './Components/ListingFeature/ListingFeature';
@import './Components/Button/Button';
@import './Components/AgentContactForm/AgentContactForm';
@import './Pages/Appointment/Appointment';
@import './Pages/AppointmentsList/AppointmentsList';
@import './Pages/Mansion/Mansion';
@import './Pages/Home/Home';
@import './Pages/Agent/Agent';
@import './Skeletons/SkeletonBase/SkeletonBase';
@import './Skeletons/SkeletonHome/SkeletonHome';
@import './Skeletons/SkeletonListMansion/SkeletonListMansion';
@import './Skeletons/SkeletonListAgent/SkeletonListAgent';
